/*-----------------------------------*\
  @BASE #TYPE
\*-----------------------------------*/

$heading-size-1: rem-calc(55) !default;
$heading-size-2: rem-calc(32) !default;
$heading-size-3: rem-calc(24) !default;
$heading-size-4: rem-calc(20) !default;
$heading-size-5: rem-calc(18) !default;
$heading-size-6: rem-calc(16) !default;

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.25;
  font-family: $base-font;
  margin-bottom: 0.75em;
}

h1, .h1 {
  font-size: rem-calc(32);

  @media (min-width: $sm) {
    font-size: $heading-size-1;
  }
}

.h1--md {
  @media (min-width: $sm) {
    font-size: rem-calc(40);
  }
}

h2, .h2 {
  font-size: $heading-size-2;
}

h3, .h3 {
  font-size: $heading-size-3;
  font-weight: 600;
}

h4, .h4{
  font-size: $heading-size-4;
  font-weight: 600;
}

h5, .h5 {
  font-size: $heading-size-5;
  font-weight: 600;
}

h6, .h6 {
  font-size: $heading-size-6;
  font-weight: 600;
}

img,
p,
ul,
ol,
pre,
blockquote {
  margin-bottom: 1.5em;
}

hr {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-border;
  height: 1px;
  width: 100%;
  margin-bottom: rem-calc(20);
  margin-top: rem-calc(20);
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}
