<!-- The Modal -->
<div id="modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close js-modal-close">&times;</span>
    {% include 'templates/inc/_newsletter.twig' ignore missing with {
      'region': options.newsletter.region,
      'portalId': options.newsletter.portal_id,
      'formId': options.newsletter.form_id
    } only %}
  </div>
</div>
