<a href="{{url}}" class="card-link">
  <div class='card card--ajax'>
    <div class="row">
      <div class="app__article-img app__article-img--lg">
         <img src="{{ image }}" class="img-responsive"/>
      </div>
      <div class="app__article-content app__article-content--lg">
        <div class="card__content">
          <ul class="card__tags list-reset">
            <li>{{ type }}</li>
          </ul>
          <h4 class="mb-05x card__title">{{ title }}</h4>
          <div
            class="card__description">{{ description }}</div>
          <Time time={props.time} />
        </div>
      </div>
    </div>
  </div>
</a>
