{% for column in columns %}
  <div class="dropdown__main">
    <h5 class="dropdown__section-title js-dropdown-section-title">{{ column.title }} {% include 'templates/inc/icons/_icons.chevron-down.twig' ignore missing %}</h5>
    <div class="dropdown__section dropdown__section--main">
      <ul class="dropdown__subsection dropdown__subsection--alt">
        {% for item in column.items %}
          <li><a href="{{ item.link.url }}" class="type-bold">{{ item.link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}
