{% extends "templates/inc/_base.twig" %}

{% block main %}

<main class="main">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class="line-search__aside mb-4x">
            <div class="line-search__fieldset line-search__fieldset--detached">
              {% include 'templates/search-form.twig' %}
            </div>
          </div>
          <div class="no-share">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
