{% extends "templates/inc/_base.twig" %}

{% block main %}

<main class="main">
  <section class="section">
    <div class="container">
      <div class="section__footer text-left mb-4x">
        <a href="{{ options.back_to_blog_link.url }}">{% include 'templates/inc/icons/_icons.chevron-left.twig' ignore missing %} {{ options.back_to_blog_link.title }} </a>
      </div>
      <h2>{{ term.title }}</h2>
      <div class="row row--vertical">
        {% for post in posts %}
          <div class="col-xs-6 col-md-4">
            <div class="card card-link">
              <ul class="card__pills list-reset">
                {% for term in post.terms('tags') %}
                  <li><a href="{{term.link}}">{{term.name}}</a></li>
                {% endfor %}
              </ul>
              <img srcset="{{ post.thumbnail.src|resize(360, 240) }},
                {{ post.thumbnail.src|resize(720, 480) }} 2x"
                src="{{ post.thumbnail.src|resize(360, 240) }}"
                alt="{{ post.thumbnail.alt }}"
                class="img-responsive card__img"
                width="360"
                height="238">
              <a class="card-link card-link--static" href="{{ post.link }}">
                <h4>{{ post.title }}</h4>
                <p>{{ post.preview|truncate(12) }}</p>
                <dl class="card__author">
                  <dt><span>{{ function('initials', post.author) }}</span></dt>
                  <dd>{{ post.author }}</dd>
                </dl>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      {# Pagination #}
      <ol class="pagination list-reset">
        {% if posts.pagination.prev %}
          <li>
            <a href="{{ posts.pagination.prev.link }}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}">{% include 'templates/inc/icons/_icons.chevron-left.twig' ignore missing %}</a>
          </li>
        {% endif %}
        {% for page in posts.pagination.pages %}
          <li {{ page.current ? 'class="active"' : '' }}>
            {% if page.link %}
              <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
            {% else %}
              <span class="{{page.class}}">{{page.title}}</span>
            {% endif %}
          </li>
        {% endfor %}
        {% if posts.pagination.next %}
          <li>
            <a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'invisible'}}">{% include 'templates/inc/icons/_icons.chevron-right.twig' ignore missing %}</a>
          </li>
        {% endif %}
      </ol>
      {# Pagination ./end #}
    </div>
  </section>
</main>

{% endblock %}
