{% extends "templates/inc/_base.twig" %}

{% block main %}

<main class="main">
  <section class="section section--primary">
    <div class="container">
      <h6 class="author-heading">{{ options.author.header }}</h6>
      <dl class="author-pencil list-reset">
        <dt><img src="{{ post.author.avatar({ size: 96 }) }}"></dt>
        <dd>
          <h3 class="author-pencil__name">{{ post.author.name }}</h3>
          <p>
            {{ post.author.description}}
          </p>
        </dd>
      </dl>
      <div class="row">
        {% for post in posts %}
          <div class="col-xs-6 col-sm-4">
            <a href="{{ post.link }}" class="author-post">
              <img class="img-responsive mb-0x" src="{{ post.thumbnail}}" alt="Post thumbnail">
              <span class="author-post__body">
                <h2 class="author-post__title">{{ post.title }}</h2>
                <span class="author-post__preview">
                  {{ post.preview.length(14).read_more(null) }}
                </span>
              </span>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>

{% endblock %}
