{% extends "templates/inc/_base.twig" %}

{% block main %}

{% include 'templates/inc/_modal.twig' %}

<main class="main js-squidex-data" data-squidex-api="{{ squidex_api }}">
  {# Hero #}
  {% include 'templates/inc/_hero.twig' ignore missing with {
    'hero': hero,
    'menu': menu
  } only %}
  {# Hero ./end #}

  {# Top Reads #}
  <section class="section">
    <div class="container">
      <h2>{{ top.title }}</h2>
      <div class="row row--vertical">
        <div class="col-sm-4">
          <a class="card-link" href="{{ top.post.link }}">
            <div class="card">
              <img srcset="{{ top.post.thumbnail.src|resize(360) }},
                {{ top.post.thumbnail.src|resize(720) }} 2x"
                src="{{ top.post.thumbnail.src }}"
                alt="{{ top.post.thumbnail.alt }}"
                class="img-responsive card__img"
                width="360"
                height="238">
              <dl class="card__icon">
                <dt>{% include 'templates/inc/icons/_icons.news.twig' ignore missing %}</dt>
                <dd>{{ options.top_rated.post_type }}</dd>
              </dl>
              <h4>{{ top.post.title }}</h4>
              <p>{{ top.post.preview|truncate(12) }}</p>
              <dl class="card__author">
                <dt><span>{{ function('initials', top.post.author) }}</span></dt>
                <dd>{{ top.post.author }}</dd>
              </dl>
            </div>
          </a>
        </div>
        <div class="col-sm-8">
          <div id="squidex-top-rated"></div>
        </div>
      </div>
    </div>
  </section>
  {# Top Reads ./end #}
  {# Articles, Learn, Use Cases #}
  <section class="section">
    <div class="container">
      <div class="row row--vertical">
        <div class="col-sm-6">
          <h2>{{ latest.title }}</h2>
          <div class="row row--vertical">
            {% for post in latest.list %}
              <div class="col-xs-6">
                <a class="card-link" href="{{ post.link }}">
                  <div class="card">
                    <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="img-responsive card__img" width="263" height="176">
                    <h6>{{ post.title }}</h6>
                    <dl class="card__author">
                      <dt><span>{{ function('initials', post.author) }}</span></dt>
                      <dd>{{ post.author }}</dd>
                    </dl>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-6">
          <div id="squidex-learn"></div>
        </div>
       <div class="container">
          <div id="squidex-use-cases"></div>
       </div>
      </div>
      {# Newsletter #}
      <div class="brick brick--fluid">
        <div class="row">
          <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            {% include 'templates/inc/_newsletter.twig' ignore missing with {
              'region': options.newsletter.region,
              'portalId': options.newsletter.portal_id,
              'formId': options.newsletter.form_id
            } only %}
          </div>
        </div>
      {# Newsletter ./end #}
      </div>
    </div>
  </section>
  {# Articles, Learn, Use Cases ./end #}

</main>

{% endblock %}
