<form id="searchform" method="get" action="{{ site.link }}" class="search">
  <input type="search" class="textbox line-search__input" name="s" placeholder="{{ options.search.input_placeholder }}" value="{{ value }}">
  <button class="line-search__btn">{% include 'templates/inc/icons/_icons.search.twig' %}</button>
</form>
