{% extends "templates/inc/_base.twig" %}

{% block main %}

<main class="main">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class="line-search__aside mb-4x">
            <div class="line-search__fieldset line-search__fieldset--detached">
              {% include 'templates/search-form.twig' %}
            </div>
          </div>

          {% if term %}
            <p>{{ options.search.results_title}} <strong>"{{ term }}"</strong>:</p>
          {% endif %}

          {% if results and not empty %}
            <ul class="list-reset app__posts">
              {% for result in results %}
                <li>
                  {% include 'templates/inc/_search-result-item.twig' with {
                    'url': result.url,
                    'image': result.image,
                    'title': result.title,
                    'type': result.type,
                    'description': result.description|excerpt(30)
                  } only %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p><em>{{ options.search.no_results_title }}</em></p>
          {% endif %}

          {# <div
            id="search-results"
            data-squidex-limit="{{ options.search.squidex_results }}"
            data-wp-limit="{{ options.search.wordpress_results }}"
            data-skeletons="{{ options.search.loader_items }}"
            data-squidex-api-url="{{ options.search.squidex_search_api }}"
            data-home="{{ home }}"
            data-term="{{ term }}"></div> #}
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
