{% extends "templates/inc/_base.twig" %}

{% block main %}

{% include 'templates/inc/_modal.twig' %}

<main class="main">
  {# Hero #}
  {% include 'templates/inc/_hero.twig' ignore missing with {
    'hero': hero,
    'menu': menu
  } only %}
  {# Hero ./end #}

  {# Featured #}
  <section class="section">
    <div class="container">
      <dl class="bar">
        <dt>{% include 'templates/inc/icons/_icons.arrow-right.twig' ignore missing %}</dt>
        <dd>{{ bar }}</dd>
      </dl>

      <h1 class="h1 h1--md">{{ featured.title }}</h2>

      <div id="squidex-use-cases-featured" data-featured="{{ wp_featured }}">
        <div class="row">
          <div class="col-xs-6">
            <div class="card card--featured card--ajax is-loading"></div>
          </div>
          <div class="col-xs-6">
            <div class="card card--featured card--ajax is-loading"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {# Featured ./end #}

  <section id="squidex-use-cases-listing" data-wp="{{ wp_data }}" data-squidex-resources="{{ options.squidex.resources_url }}" class="section section--app">
  </section>

</main>

{% endblock %}
