/*---------------------------------- *\
	@COMPONENTS #INPUTS
\*-----------------------------------*/

.textbox {
	// iOS reset
	-webkit-appearance: none !important;
	border-radius: 0;
	box-shadow: none;
  border-radius: rem-calc(4);
  font-size: rem-calc(16);
  padding: 0.2em 0.8em;
  background-color: #fff;

	//PLACEHOLDER
	&::-webkit-input-placeholder {
	   color: $color-placeholder;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color-placeholder;
	   opacity: 1;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color-placeholder;
	   opacity: 1;
	}

	&:-ms-input-placeholder {
	   color: $color-placeholder;
	}
}
