/*------------------------------------
	@COMPONENTS #SECTIONS
------------------------------------*/

.hero {
	padding: rem-calc(50) 0 0;
	position: relative;
	text-align: center;

	@media (min-width: $sm) {
		padding: rem-calc(78) 0 0;
		text-align: left;
	}
}

	.hero__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin-bottom: 0;
	}

	.hero__body {
		position: relative;
	}

	.hero__title {
		margin-bottom: 0;
	}

	.hero__content {
		margin-bottom: rem-calc(12);
	}

.section {
	padding: rem-calc(46) 0;
}

.section--primary {
	background-color: #fff;
}

.section--app {
	background-color: #fff;
	padding-top: rem-calc(40);
	padding-bottom: rem-calc(4);
}

// WYSIWYG container
.content {
	max-width: rem-calc(760);
	margin-left: auto;
	margin-right: auto;
	font-size: rem-calc(16);

	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}

	ul, ol {
		line-height: 1.5625;
		list-style-position: inside;
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	blockquote {
		text-align: right;

		img {
			border-radius: 50%;
			max-width: rem-calc(100);
			display: inline-block;
			margin-top: rem-calc(20);
		}
	}

	// Image with caption
	.wp-caption {
		text-align: center;
		font-size: rem-calc(12);
		width: auto !important;

		> img {
			@extend .img-responsive;

			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem-calc(10);
		}

	}
}
// WYSIWYG container ./end

.section--alternate {
	&:nth-child(odd) {
		background-color: $slate;
	}
}

	.section__footer {
		text-align: center;
		padding-top: rem-calc(30);

		> a {
			font-size: rem-calc(16);

			> svg {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
