/*-----------------------------------*\
  @COMPONENTS #POSTCARDS
\*-----------------------------------*/

.postcard {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $sm) {
    align-items: flex-start;
    flex-direction: row;
  }

  + .postcard {
    margin-top: rem-calc(20);
  }
}

  .postcard__body {
    padding-right: rem-calc(36);
    font-size: rem-calc(16);

    @media (min-width: $sm) {
      width: 50%;
    }

    @media (min-width: $lg) {
      width: 35%;
    }
  }

  .postcard__title {
    font-size: rem-calc(40);
  }

  .postcard__author {
    @extend .card__author;

    > dt {
      font-size: rem-calc(13);
    }

    > dd {
      margin-top: 0;
    }
  }

  .postcard__aside {
    position: relative;

    @media (min-width: $sm) {
      width: 50%;
    }

    @media (min-width: $lg) {
      width: 65%;
    }

    > img {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .postcard__pills {
    @extend .card__pills;
  }
