/*-----------------------------------*\
  @COMPONENTS #SEARCHES
\*-----------------------------------*/

.line-search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

  .line-search__aside {
    margin-bottom: rem-calc(16);
  }

  .line-search__fieldset {
    position: relative;
  }

  .line-search__fieldset--detached {
    input {
      width: 100%;
    }
  }

  .line-search__btn {
    background-color: transparent;
    position: absolute;
    left: rem-calc(6);
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      color: $alt;
    }

    > svg {
      height: rem-calc(17);
      fill: currentColor;
    }
  }

  .line-search__input {
    padding-left: rem-calc(44);
  }
