/*-----------------------------------*\
  @COMPONENTS #BRICKS
\*-----------------------------------*/

.brick {
  padding: rem-calc(24);
  background-color: #fff;
  width: 100%;
}

.brick--fluid {
  margin-top: rem-calc(40);
}
