/*-----------------------------------*\
	@COMPONENTS #NAV
\*-----------------------------------*/

.nav {
}

.nav__toggle {
	background-color: transparent;
	color: #fff !important;
	padding: 0;

	@media (min-width: $toggle) {
		display: none;
	}

	> svg {
		height: rem-calc(22);

		&:nth-child(2) {
			display: none;
		}
	}

	&.is-open {
		> svg {
			display: none;

			&:nth-child(2) {
				display: inline-block;
			}
		}
	}
}

.nav--header {
	text-align: center;
	position: absolute;
	background-color: #fcfcfd;
	left: 0;
	top: 100%;
	width: 100%;
	padding-bottom: rem-calc(60);
	height: calc(100vh - #{rem-calc(25)});
	display: none;
	overflow-y: auto;

	&.is-open  {
		display: block;
	}

	@media (min-width: $toggle) {
		display: block;
		position: static;
		background-color: transparent;
		padding-bottom: 0;
		height: auto;
		overflow-y: visible;
	}
}

.menu {
	font-size: 0;

	> li {
		display: block;

		@media (min-width: $toggle) {
			margin-left: rem-calc(20);
			margin-right: rem-calc(20);
			cursor: pointer;
			display: inline-block;
		}

		@media (min-width: $md) {
			margin-left: rem-calc(41);
			margin-right: rem-calc(41);
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		> a {
			color: #fff !important;
			text-decoration: none;

			&:hover,
			&:active {
				text-decoration: underline;
			}
		}
	}
}

.menu--primary {
	font-size: 0;
	text-align: left;
	max-width: rem-calc(640);
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $toggle) {
		text-align: center;
		max-width: none;
	}

	> li {
		font-size: rem-calc(15);

		@media (min-width: $toggle) {
			font-size: rem-calc(16);
		}

			&:hover,
			&:active {
				> a {
					text-decoration: underline;
				}
			}

		> a {
			color: $primary !important;
			text-decoration: none;
			font-size: inherit;
			display: block;

			@media (min-width: $toggle) {
				color: #fff !important;
				display: inline;
			}


			> svg {
				display: inline-block;
				margin-left: rem-calc(8);
			}
		}
	}
}

.dropdown-container {
	&:hover {
		.dropdown {
			visibility: visible;
			opacity: 1;

			> * {
				opacity: 1;
				transform: none;
				@include trans;
				transition-duration: 0.3s;
				transition-timing-function: ease-in-out;
				transition-delay: 0.1s;
			}
		}
	}
}

.dropdown-toggle {
	@media (max-width: $toggle - 1) {
		display: none !important;
	}
}

.dropdown {
	color: #000;
	text-align: left;

	@media (min-width: $toggle) {
		background-color: #fff;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: rem-calc(40);
		z-index: 10;
		box-shadow: rgb(176, 179, 187) 0px 5px 6px 0px;
		visibility: hidden;
		opacity: 0;
	}

	&::before {
		@media (min-width: $toggle) {
			content: '';
			bottom: 100%;
			left: 0;
			width: 100%;
			background-color: transparent;
			display: block;
			position: absolute;
			height: rem-calc(20);
		}
	}

	> * {

		@media (min-width: $toggle) {
			transform: translateY(-15%);
			opacity: 0;
		}
	}
}

.dropdown__row {

	@media (min-width: $toggle) {
		display: flex;
		margin: -$gutter;
	}


	> * {
		@media (min-width: $toggle) {
			padding: $gutter;
		}
	}
}

.dropdown__main {
	flex-grow: 1;
}

%dropdown-mobile-style {
	padding-left: rem-calc(26);
	border-left: rem-calc(1) solid #526193;
	padding-top: rem-calc(16);
	padding-bottom: rem-calc(16);

	@media (min-width: $toggle) {
		padding-left: 0;
		padding-top: 0;
		border-left: 0;
		padding-bottom: 0;
	}
}

.dropdown__subsection--ter {
	@extend %dropdown-mobile-style;
}

.dropdown__section--main {
	@extend %dropdown-mobile-style;

	display: none;
	margin-bottom: rem-calc(10);

	&.is-open {
		display: block;

		.dropdown__subsection--alt {
			display: block;
		}
	}

	@media (min-width: $toggle) {
		display: flex;
		flex-direction: column;
		max-height: rem-calc(400);
		flex-wrap: wrap;
		margin-bottom: 0;
	}
}

.dropdown__section-title {
	color: $primary;
	font-weight: 400;

	@media (max-width: $toggle - 1) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: rem-calc(15);
		cursor: pointer;
	}

	&.is-open {
		font-weight: 600;

		> svg {
			transform: scaleY(-1);
		}
	}

	> svg {
		@include trans;

		display: inline-block;

		@media (min-width: $toggle) {
			display: none;
		}
	}
}

.dropdown__stack {
	> li {
		+ li {
			margin-top: rem-calc(10);
		}
	}

	img {
		margin-bottom: 0;
	}

	.btn {
		border-radius: 0;
		width: 100%;
	}
}

.dropdown__subsection {
	@extend .list-reset;

	font-size: rem-calc(14);

	> li {
		+ li {
			margin-top: rem-calc(8);
		}
	}

	a {
		color: $color-text;

		&:hover {
			text-decoration: underline;
		}
	}
}

.dropdown__subsection--alt {
	&.is-open {
		display: block;
	}

	@media (max-width: $toggle) {
		display: none;
	}
}


.strip {
	margin-top: rem-calc(60);
	position: relative;
	z-index: 10;
	max-width: 100%;
	overflow-x: auto;
}

.strip--blog {
	margin-top: 0;
	background-color: #fff;
	text-align: center;
	padding: rem-calc(10) 0;
}

	.strip__menu {
		display: flex;
		margin-bottom: 0;

		> li {
			flex-shrink: 0;

			a {
				display: inline-flex;
				align-items: center;
				padding: rem-calc(11) rem-calc(20);

				&:hover {
					color: #fff;
					background-color: $primary !important;
				}

				> svg {
					display: inline-block;
					height: 1em;
					margin-right: rem-calc(12);
				}
			}

			&.active {
				a {
					background-color: $ter;
				}
			}
		}
	}

	.strip__menu--blog {
		display: inline-flex;
	}

.wp-menu-item {
	padding: 0 $gutter;

	+ .wp-menu-item {
		margin-top: rem-calc(11);

		@media (min-width: $toggle) {
			margin-top: 0;
		}
	}

	@media (min-width: $toggle) {
		display: none;
	}
}
