/*------------------------------------
	@COMPONENTS #CARDS
--------------------------------------*/

.card-link {
	@include trans;
	color: inherit !important;
	display: block;
	position: relative;

	&:hover {
		transform: scale(1.01);
	}
}

.card-link--static {
	&:hover {
		transform: none;
	}
}

.card-list {
	margin-bottom: 0;

	> li {
		+ li {
			margin-top: rem-calc(18);
		}
	}
}

.card {
	font-size: rem-calc(13);
}

.card--ajax {
	> * {
		transition: opacity 0.5s ease-out;
	}

	&.is-loading {
		min-height: rem-calc(264);
		background-color: darken($ter, 4);
		cursor: default;

		> * {
			visibility: hidden;
			opacity: 0;
		}
	}
}

.card--aside {
	@media (min-width: $xs) {
		display: flex;
		align-items: flex-start;
	}

	&.card--ajax {

		&.is-loading {
			position: relative;
			min-height: rem-calc(100);

			&::after {
				display: block;
				content: '';
				background-color: $bgr;
				width: rem-calc(22);
				height: 100%;
				top: 0;
				left: rem-calc(132);
				position: absolute;
			}
		}
	}
}

.card--featured {
	display: flex;
	align-items: flex-start;

	&.is-loading {
		min-height: rem-calc(160);
		position: relative;

		// &::after {
		// 	display: block;
		// 	content: '';
		// 	background-color: $bgr;
		// 	width: rem-calc(30);
		// 	height: 100%;
		// 	top: 0;
		// 	left: 50%;
		// 	position: absolute;
		// 	transform: translateX(-50%);
		// }
	}
}

.card--top-read {
	&.is-loading {
		min-height: auto;

		.card__img {
			margin-bottom: 0;
		}

		h6, .card__author {
			visibility: hidden;
			position: absolute;
		}
	}
}

	.card__img {
		margin-bottom: rem-calc(20);
		width: 100%;
	}

	.card__img--aside {
		flex-shrink: 0;

		@media (min-width: $xs) {
			max-width: rem-calc(132);
			margin-bottom: 0;
			margin-right: rem-calc(22);
		}
	}

	.card__img--featured {
	}

	.card__content {
		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.card__content--aside {

	}

	.card__author {
		color: $primary;
		display: flex;
		align-items: flex-start;

		> dt {
			background-color: $primary;
			color: $bgr;
			border-radius: 50%;
			width: rem-calc(24);
			margin-right: 0.8em;
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			border: rem-calc(1) solid #fff;

			&::after {
				content: '';
				display: block;
				padding-bottom: 100%;
			}

			> span {
				position: absolute;
				z-index: 10;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		> dd {
			margin-top: rem-calc(4);
		}
	}

	.card__icon {
		display: flex;
		color: $primary;
		margin-bottom: rem-calc(14);

		> dt {
			display: inline-flex;
			align-items: center;
			margin-right: rem-calc(10);

			> svg {
				height: 1.2em;
			}
		}
	}

	.card__pills {
		z-index: 50;
		position: absolute;
		top: rem-calc(10);
		left: rem-calc(10);
		width: calc(100% - #{rem-calc(20)});
		display: flex;
		margin: rem-calc(-4);
		font-size: rem-calc(13);
		flex-wrap: wrap;

		> li {
			padding: rem-calc(4);

			a {
				@include trans;

				display: block;
				padding: rem-calc(7) rem-calc(6);
				border-radius: rem-calc(2);
				background-color: rgba(252, 252, 253, 0.8);
				color: #000 !important;

				&:hover {
					background-color: $primary;
					color: #fff !important;
				}
			}
		}
	}

	.card__description {
    margin-bottom: rem-calc(6);
  }

	.card__time {
		display: flex;
		align-items: center;

		.card__icon {
			margin-right: rem-calc(5);
			height: 1em;
			margin-bottom: 0;
		}
	}

	.card__title {
		line-height: 1.6;
		margin-top: -0.4em;
	}

	.card__tags {
		margin-bottom: rem-calc(5);
		display: flex;
		font-size: rem-calc(14);
		color: $primary;
		flex-wrap: wrap;

		> li {
			margin-right: 0.5ch;
			margin-bottom: rem-calc(4);
			flex-shrink: 0;

			&::after {
				content: ', ';
			}

			&:last-child {
				margin-right: 0;

				&::after {
					content: '';
				}
			}
		}
	}
