/*----------------------------------*\
	@COMPONENTS #HEADER
\*----------------------------------*/

.header {
  padding: rem-calc(20) 0;
  background-color: $primary;
  color: #fff;
  position: relative;
  z-index: 5000;
}

  .header__spread {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $toggle) {
      margin-bottom: rem-calc(16);
    }
  }


  .header__toolbox {
    text-align: center;
    padding: rem-calc(30) $gutter 0;
    margin-bottom: rem-calc(24);

    @media (min-width: $toggle) {
      display: none;
    }

    > * {
      border-bottom: rem-calc(1) solid #dcdcdd;
      padding-bottom: rem-calc(30);

    }

  }
