/*-----------------------------------*\
  @COMPONENTS #APPS
\*-----------------------------------*/

.app {
  padding: rem-calc(20) 0 rem-calc(56);
  background-color: #fff;
  overflow: hidden;
}

  .app__header {

  }

  .app__btn {
    @include trans;

    font-size: rem-calc(16);
    display: block;
    padding: rem-calc(14);
    width: 100%;

    &, &:focus, &:active {
      background-color: #cbd0df;
    }

    &:hover {
      background-color: darken(#cbd0df, 10);
    }
  }

  .app__hero,
  %ajax-load {
    @include trans;

    position: relative;
    color: #fff;

    &.is-loading {
      background-color: lighten($slate, 8);

      > * {
        transition: none;
        opacity: 0;
      }
    }
  }

  .app__hero-img {
    width: 100%;
  }

  .app__aside {
    overflow-x: auto;

    @media (min-width: $sm) {
      overflow-x: visible;
    }
  }

  .app__posts {
    > li {
      margin-top: $gutter * 2;
    }
  }

  .app__article-img {
    flex-shrink: 0;
    width: 100%;

    @media (min-width: $sm) {
      max-width: rem-calc(165);
    }

    img {
      @media (min-width: $sm) {
        margin-bottom: 0;
      }
    }
  }

  .app__article-img--lg {
    @media (min-width: $sm) {
      max-width: rem-calc(250);
    }
  }

  .app__article-content {
    @media (min-width: $sm) {
      width: calc(100% - #{rem-calc(165)});
    }
  }

  .app__article-content--lg {
    @media (min-width: $sm) {
      width: calc(100% - #{rem-calc(250)});
    }
  }

  .app__pinned {
    min-height: rem-calc(114);
    margin-bottom: rem-calc(60);

    .card {
      &.is-loading {
        @extend %ajax-load;
      }
    }
  }

  .app__posts {
    .card {
      &.is-loading {
        @extend %ajax-load;
      }
    }
  }

  .app__nav,
  .app__nav-aside {
    > li {
      &.active {
        a {
          cursor: default;
          color: $primary !important;
        }
      }
    }
  }

  .app__title {
    position: absolute;
    left: rem-calc(24);
    bottom: rem-calc(14);
    color: inherit;
    margin-bottom: 0;

    @media (min-width: $md) {
      font-size: rem-calc(64);
    }
  }

  .app__nav {
    display: flex;
    max-width: 100%;
    overflow-x: auto;

    > li {
      flex-shrink: 0;

      > a, button {
        display: inline-block;
        padding-bottom: rem-calc(8);
      }

      &.active {
        > a, button{
          position: relative;

          &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            border-bottom: rem-calc(2) solid $primary;
            left: 0;
            width: 100%;
          }
        }
      }

      + li {
        margin-left: rem-calc(30);
      }
    }
  }

  .app__nav-aside {
    font-size: rem-calc(16);
    display: flex;
    align-items: center;

    @media (min-width: $sm) {
      display: block;
      position: static;
    }

    > li {
      flex-shrink: 0;

      &.active {
        a {
          font-weight: 700;
        }
      }

      + li {
        margin-left: rem-calc(20);

        @media (min-width: $sm) {
          margin-top: rem-calc(9);
          margin-left: 0;
        }
      }
    }
  }
