/*------------------------------------
	@COMPONENTS #COMMENTS
------------------------------------*/

.comment__item {
	padding: rem-calc(20);
	border: solid rem-calc(1) rgba(0, 0, 0, 0.12);
	font-weight: 300;
	font-size: rem-calc(16);
	margin-bottom: rem-calc(16);

	@media (min-width: $md) {
		padding: rem-calc(32) rem-calc(48);
	}

	&:last-item {
		margin-bottom: 0;
	}

	&:empty {
		display: none;
	}
}

	.comment__author {
		display: flex;
		align-items: flex-start;
		font-size: rem-calc(14);
		margin-bottom: rem-calc(20);

		// Avatar
		> dt {
			overflow: hidden;
			border-radius: 50%;
			margin-right: rem-calc(16);

			> img {
				margin-bottom: 0;
			}
		}

		> dd {
			margin-top: rem-calc(5);
		}
	}

	.comment__name {
		margin-bottom: rem-calc(4);
	}

	.comment__main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.comment__footer {
		text-align: right;
	}
