/*----------------------------------*\
  @COMPONENTS #FORMS
\*----------------------------------*/

// WP-generated markup.
.comment-reply-title {
  > small {
    display: block;
    margin-top: rem-calc(10);
    text-align: right;

    @media (min-width: $md) {
      float: right;
      display: inline-block;
    }

    > a {
      @extend .btn;
      @extend .btn--primary;
      @extend .btn--sm;
    }
  }
}

.comment-form {
  .comment-notes {
    font-size: rem-calc(14);
  }


  .comment-form-email,
  .comment-form-url,
  .comment-form-author,
  .comment-form-comment, {
    display: flex;
    flex-direction: column;

    > input {
      background-color: #fff;
      border: 1px solid #8f8f9d;
      padding: 0.2em;
      font-size: rem-calc(16);
    }
  }

  label {
    display: inline-block;
    margin-bottom: rem-calc(10);
    font-size: rem-calc(16);
  }

  textarea {
    max-width: 100%;
    resize: vertical;
    min-height: rem-calc(120);
  }

  .submit {
    @extend .btn;
    @extend .btn--primary;
  }

  .comment-form-cookies-consent {
    > input {
      display: none;

      + label {
        &::before {
          @include trans;

          display: inline-block;
          width: 0.75em;
          height: 0.75em;
          content: '';
          border: 1px solid;
          margin-right: 0.5em;
          border-radius: 50%;
        }
      }

      &:checked {
        + label {
          &:before {
            background-color: $alt;
          }
        }
      }
    }
  }
}
