/*----------------------------------*\
  @COMPONENTS #FOOTER
\*----------------------------------*/

.footer {
  padding-top: rem-calc(35);
  font-size: rem-calc(16);
}

h3 {
  color: $primary;
  margin-bottom: rem-calc(16);
}

p {
  line-height: (25/16);
}


  .footer__main {
    flex-grow: 1;

    a {
      color: inherit !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer__upper,
  .footer__strip {
    h1, h2, h3, h4, h5, h6 {
      color: $primary;
      text-transform: uppercase;
    }
  }

  .footer__upper {
    @media (min-width: $sm) {
      display: flex;
    }
  }

  .footer__socials {
    flex-shrink: 0;
  }

  .footer__strip {
    margin-bottom: rem-calc(34);

    @media (min-width: $xs) {
      display: flex;
    }
  }

  .footer__badge {
    > img {
      margin-bottom: 0;
    }
  }

  .footer__contact {
    flex-grow: 1;
    margin-bottom: rem-calc(25);

    @media (min-width: $xs) {
      margin-bottom: 0;
    }
  }

  .footer__pole {
    display: flex;
    dt {
      color: $primary;
      margin-right: rem-calc(10);
    }

    + .footer__pole {
      margin-top: rem-calc(20);
    }
  }

  .footer__main {

    @media (min-width: $sm) {
      margin-bottom: rem-calc(18);
      padding-right: $gutter * 2;
    }
  }

  .footer__small {
    font-size: rem-calc(13);
    border-top: rem-calc(1) solid $stone;
    display: block;
    padding: rem-calc(12) 0;

    > * {
      display: flex;
      margin: 0 -$gutter;
      justify-content: space-between;

      > * {
        padding: $gutter;
      }
    }
  }

.socials {
  margin-bottom: rem-calc(6);

  @media (min-width: $sm) {
    margin-bottom: 0;
  }

  > li {

    &:first-child {
      @media (max-width: $sm - 1) {
        padding-left: 0;
      }
    }

    &:last-child {
      @media (min-width: $sm) {
        padding-right: 0;
      }
    }
  }
}
