/*------------------------------------
	@COMPONENTS #QUOTES
--------------------------------------*/

.quote {
	background-color: #fff;
	padding: rem-calc(40) rem-calc(24) rem-calc(32);
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	@media (min-width: $xs) {
		flex-direction: row;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&:nth-child(even) {

		@media (min-width: $xs) {
			flex-direction: row-reverse;
		}

		.quote__body {

			@media (min-width: $xs) {
				margin-left: rem-calc(50);
				margin-right: 0;
			}
		}
	}
}
	.quote__body {
		position: relative;
		margin-bottom: rem-calc(20);
		padding-top: rem-calc(28);

		@media (min-width: $xs) {
			margin-right: rem-calc(50);
			margin-bottom: 0;
		}
	}

	.quote__author {
		margin-bottom: 0;
		font-size: rem-calc(16);
		color: $primary;
	}

	.quote__img {
		overflow: hidden;
		border-radius: 50%;
		flex-shrink: 0;

		> img {
			margin-bottom: 0;
		}
	}

	.quote__icon {
		position: absolute;
		top: rem-calc(-20);
		left: 0;
		color: $primary;

		> svg {
			height: rem-calc(24);
		}
	}

	.quote__icon--block {
		top: rem-calc(24);
		left: rem-calc(24);
	}

.quote-block {
	padding: rem-calc(40) rem-calc(24) rem-calc(32);
	background-color: #fff;
	position: relative;

}

	.quote-block__content {
		margin-bottom: 0;
		padding-top: rem-calc(24);
		max-width: rem-calc(653);
		margin-bottom: rem-calc(30);

		@media (min-width: $sm) {
			margin-right: rem-calc(20);
			margin-bottom: 0;
		}
	}

	.quote-block__quote {
		line-height: 1.6;
		margin-bottom: rem-calc(50);
	}

	.quote-block__body {
		padding-bottom: rem-calc(34);
		border-bottom: rem-calc(1) solid #444444;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (min-width: $sm) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		@media (min-width: $sm) {
			padding-left: rem-calc(72);
			padding-right: rem-calc(16);
		}
	}

	.quote-block__footer {
		text-align: center;
		padding: rem-calc(36) 0;

		> * {
			max-width: rem-calc(294);
			margin-left: auto;
			margin-right: auto;
		}

		small {
			display: block;
			font-size: rem-calc(13);
			margin-top: rem-calc(16);
			line-height: 1.6;
		}
	}
