<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="currentColor" fill-rule="evenodd" d="M18 10V7.023C18 5.68 18.297 5 20.383 5H23V0h-4.367c-5.352 0-7.117 2.453-7.117 6.664V10H8v5h3.516v15H18V15h4.406L23 10h-5z"/></svg>
