<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="currentColor" fill-rule="evenodd" d="M27.6 0H2.564C1.196 0 0 .985 0 2.337v25.092C0 28.789 1.196 30 2.563 30h25.03C28.968 30 30 28.78 30 27.429V2.337C30.008.985 28.968 0 27.6 0zM9 25H5V12h4v13zM6.99 9h-.027C5.772 9 5 8.112 5 7c0-1.132.792-2 2.01-2C8.228 5 8.973 5.861 9 7c0 1.112-.772 2-2.01 2zM25 25h-4.256v-7.48c0-1.792-.619-3.016-2.159-3.016-1.176 0-1.873.824-2.182 1.624-.116.288-.147.68-.147 1.08V25H12V11.32h4.256v1.904c.619-.912 1.586-2.224 3.838-2.224C22.887 11 25 12.904 25 17.008V25z"/></svg>
