<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="currentColor" fill-rule="evenodd" d="M8.267 0C5.468 0 3.2 2.303 3.2 5.143 3.2 9.143 8.267 16 8.267 16s5.066-6.857 5.066-10.857C13.333 2.303 11.065 0 8.267 0zm0 6.818c-.912 0-1.65-.75-1.65-1.675s.738-1.675 1.65-1.675c.911 0 1.65.75 1.65 1.675s-.739 1.675-1.65 1.675z"/></svg>
