<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path fill="currentColor" fill-rule="evenodd" d="M6 7.325l4.667-4.443a.306.306 0 01.423.005l.82.795c.118.114.12.3.005.412L6.217 9.52A.285.285 0 016 9.6a.305.305 0 01-.217-.08L.085 4.094a.287.287 0 01.005-.412l.82-.795a.306.306 0 01.423-.005L6 7.325z"/></svg>
