<svg width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"><path d="M3.4 1.721L5.116 0 13.6 8.5 5.116 17 3.4 15.279 10.163 8.5z" fill="currentColor" fill-rule="evenodd"/></svg>
