/*------------------------------------*\
  @OBJECTS #BUTTONS
\*------------------------------------*/

button {
  border-radius: 0;
  &,
  &:focus,
  &:active {
    outline: none !important;
    border: none;
    @include trans;
  }

  &:focus,
  &:active {
    background-color: inherit;
  }
}

.btn {
  @include trans;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  border: none;
  padding: rem-calc(13);
  background-color: #eee;
  border-radius: $border-radius;
  font-size: rem-calc(16);
  font-weight: 600;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.btn--clean {
  padding: 0.4em;
  background-color: transparent;
}
