/*------------------------------------*\
  @OBJECTS #ICONS
\*------------------------------------*/

.icon {
  @include trans;

  fill: currentColor;
  height: rem-calc(16);
  width: rem-calc(16);
  vertical-align: middle;
  display: inline-block;
}
