/*------------------------------------
    @OBJECTS #LISTS
------------------------------------*/

.list-reset {
    list-style: none;
    padding: 0;
}

.list-inline {
    font-size: 0;
    list-style-type: none;

    > li {
        display: inline-block;
        font-size: $font-size;
        padding: rem-calc(20);

    }
}

.list-pagination {
    > li {
        &:first-child {
            padding-left: 0;

            &:before {
                display: none;
            }
        }

        &:before {
            display: inline-block;
            content: '/';
            margin-left: -35px;
            margin-right: 5px;
        }
    }
}
