/*-----------------------------------*\
  @OBJECTS #IMAGES
\*-----------------------------------*/

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-loader {

}

  .img-loader__skeleton {
    background-color: $stone;

    &::after {
      display: block;
      content: '';
      padding-bottom: 66%;
    }
  }